<h1 style="color: var(--color-primary-500)">Hello, Rails!</h1>

<button class="kyper-btn primary">
  Primary
</button>


<%= button_to "Primary", home_index_path, :method => "get", class: 'kyper-btn primary'%>
<%= button_to "Primary", home_index_path, :method => "get", class: 'kyper-btn neutral'%>
<%= button_to "Primary", home_index_path, :method => "get", class: 'kyper-btn transparent'%>
<%= button_to "Primary", home_index_path, :method => "get", class: 'kyper-btn destructive'%>